; nes.cfg — Linker script para NES con mapper NROM (0)
;
; Mapa de RAM:
;   $0000-$00FF  Zero page   (ZP segment — cc65 runtime + variables neslib)
;   $0100-$01FF  Stack 6502  (gestionado automáticamente por la CPU)
;   $0200-$02FF  OAM_BUF     (buffer de sprites, dirección fija requerida por neslib)
;   $0300-$031F  PAL_BUF     (buffer de paleta, dirección fija requerida por neslib)
;   $0320-$07FF  RAM         (BSS y DATA de juego)

MEMORY {
    ZP:     start = $00,   size = $100,  type = rw, file = "";
    RAM:    start = $0320, size = $04E0, type = rw, file = "";
    HDR:    start = $0000, size = $10,   type = ro, file = %O, fill = yes, fillval = $00;
    PRG:    start = $8000, size = $8000, type = ro, file = %O, fill = yes, fillval = $FF;
    CHR:    start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00;
}

SEGMENTS {
    HEADER:   load = HDR,  type = ro;
    STARTUP:  load = PRG,  type = ro,  define = yes;
    CODE:     load = PRG,  type = ro;
    RODATA:   load = PRG,  type = ro;
    DATA:     load = PRG,  type = rw,  run = RAM, define = yes;
    BSS:      load = RAM,  type = bss, define = yes;
    ZEROPAGE: load = ZP,   type = zp;
    VECTORS:  load = PRG,  type = ro,  start = $FFFA;
    CHARS:    load = CHR,  type = ro,  optional = yes;
}
